* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    background-color: rgb(235, 233, 233);
    width: 100vw;
}

header {   
    display: flex; 
    position: fixed;
    align-items: center;
    width: 100vw;
    height: 92px;
    background-color: rgba(207, 43, 43, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    
}

.logo { 
    color: rgba(255, 255, 255, 1);
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    margin-left: 7%;
}

.logo p{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container {
    padding-top: 123px;
    margin: 0 16px;
    font-family: "Roboto";

}

.prato-cardapio {
    display: flex;
    gap: 12px;
    overflow-x: scroll;
}

.introducao-prato {
    font-family: "Righteous";
    font-size: 26px;
    font-weight: 400;
}

.itens-cardapio {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 172px;
    height: 216px;
    border-radius: 9px;
    padding: 0px 15px;
    margin-top: 17px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);

}

.selecionado {
    box-shadow: 0px 0px 0px 5px rgba(50, 183, 47, 1) inset;
}

.itens-cardapio img {
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 144px;
    height: 87px;
    margin-top: 18px;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.itens-cardapio img:hover {
    transform: scale(1.1);
}

.itens-cardapio h1 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
}

.itens-cardapio h2 {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 300;
    color: rgba(166, 166, 166, 1);
}

.itens-cardapio p {
    margin-top: 9px;
    margin-bottom: 13px;
}

.descricao-item-cardapio {
    display: flex;
    flex-direction: column;
}

.introducao-bebida {
        font-family: "Righteous";
        margin-top: 25px;
        font-size: 26px;
        font-weight: 400;
}

.bebida-cardapio {
    display: flex;
    gap: 12px;
    overflow-x: scroll;
}

.introducao-sobremesa {
    font-family: "Righteous";
    margin-top: 25px;
    font-size: 26px;
    font-weight: 400;
}

.sobremesa-cardapio {
    display: flex;
    gap: 12px;
    overflow-x: scroll;
    margin-bottom: 110px;
}

.finalizar-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 92px;
    background-color: white;
    border: none;
    
}

.fechar-pedido-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 364px;
    height: 61px;
    border-radius: 50px;
    border: none;
    background-color: rgba(203, 203, 203, 1);
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.fechar-pedido-btn:hover {
    cursor: pointer;
}

.menu-pedidos {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.603);
    position: fixed;
    display: none;
    top: 0;
    z-index: 3;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.menu-fechar-pedido {
    background-color: rgba(80, 208, 116, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    padding: 15px 0px;
    align-items: center;
    color: white;
    width: 377px;
    border-radius: 9px;
    z-index: 2;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);

}


.estilo-itens-carrinho {
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 0 26px;

}

.total {
    display: flex;
    width: 100%;
    font-weight: 700;
    padding: 0 26px;
    justify-content: space-between;
}

.finalizar-pedido {
    background-color: white;
    color: rgba(80, 208, 116, 1);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px 35px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.fechar-carrinho-btn {
    border: none;
    color: white;
    background-color: rgba(80, 208, 116, 1);
    font-weight: 700;
    cursor: pointer;
}

.pedido-itens h1{
    display: flex;
    gap: 50px;
}
